
<% if logged_in? && current_user.id == @user.id %>
<h1>Welcome <%= @user.username %>!</h1>
<% else %>
<h1>Welcome to <%= @user.username.capitalize%>'s profile</h1>
<% end %>


<h2>Posts</h2>
<ul><% @user.posts.each do |post| %>
<li><a href="/posts/<%= post.id%>"><%= post.title %></a></li>
<% end %>
</ul>

<h2>Replies</h2>

<ul>
  <% @user.replies.each do |reply| %>

<li>
  <a href="/posts/<%= reply.post_id %>"><%= reply.response %></a>
</li>
<% end %>
</ul>
