
<% if logged_in? && current_user.id == @user.id %>
<h1>Welcome <%= @user.username %>!</h1>
<% else %>
<h1>Welcome to <%= @user.username.capitalize%>'s profile</h1>
<% end %>

<img class="img-circle" width="300" style="padding:10px;border:3px solid black;margin-top:25px;margin-bottom:40px; margin-left:30px" src="/images/Pancake.png">

<h2>Posts</h2>
<ul class="no-bullets"><% @user.posts.each do |post| %>
  <div class="row">
<li class="boxed col-md-4"><a href="/posts/<%= post.id%>"><%= post.title %></a></li>
</div>
<% end %>
</ul>

<h2>Replies</h2>

<ul class="no-bullets">
  <% @user.replies.each do |reply| %>
<div class="row">
<li class="boxed col-md-4">
  <a href="/posts/<%= reply.post_id %>"><%= reply.response %></a>
</li>
</div>
<% end %>
</ul>
