
<div class="row <%=reply.id%>">
  <div class="col-md-9 col-md-offset-1 text-left container-fluid boxed delete-me">
<li>

<!-- upvote/downvote -->
  <div class="btn-group-vertical col-md-1 text-center" role="group">
      <form method="post" action='/replies/<%= reply.id %>/vote' class="inline upvote-posts">
        <button type="submit" name="vote" value="1" class="upvote upvote-button"></button>
      </form>
      <span class="vote-score points"><%= reply.points%></span>
      <form method="post" action='/replies/<%= reply.id %>/vote' class="inline downvote-posts">
        <button type="submit" name="vote" value="-1" class="downvote downvote-button"></button>
      </form>
    </div>


<p><%= reply.response %></p>
  <% user = User.find(reply.user_id) %>
  <p>

        <span class='timestamp'><%= reply.age %> hours ago</span>
  </p>
<p>by <a href="/users/<%=user.id%>"><%= user.username %></a></p>


<% if logged_in? && current_user.id == user.id %>
  <form id="edit" method="POST" action="/replies/<%= reply.id %>">
    <input type="hidden" name="_method" value="PUT">
     <textarea class="form-control text-box" rows="4" cols="8" name="response" placeholder="response"><%= reply.response %></textarea>
    <div class="">
    <input class="btn btn-info col-md-1" type="submit" value="edit reply">
  </form>
  <form class="form-inline" id="delete" method="POST" action="/replies/<%= reply.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <input class="btn btn-info" type="submit" value="delete reply">
  </form>
</div>
<% end %>
  </div>
</div>
</li>




