
<li class="<%=reply.id%>">
<p><%= reply.response %></p>
  <% user = User.find(reply.user_id) %>
<p><a href="/users/<%=user.id%>"> <%= user.username %></a></p>

<% if logged_in? && current_user.id == user.id %>
  <form id="edit" method="POST" action="/replies/<%= reply.id %>">
     <textarea rows="4" cols="50" name="response" placeholder="response"><%= reply.response %></textarea>
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="edit reply">
  </form>
  <form id="delete" method="POST" action="/replies/<%= reply.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete reply">
  </form>

<% end %>
</li>

