<div class="row">

<div class="btn-group-vertical col-md-1 text-center" role="group">
      <form class="upvote-posts-question" method="post" action='/posts/<%= @post.id %>/vote'>
        <button type="submit" name="vote" value="1" class="upvote"></button>
      </form>
        <span class="vote-score"><%= @post.points%></span>
      <form class="downvote-posts-question" method="post" action='/posts/<%= @post.id %>/vote'>
        <button type="submit" name="vote" value="-1" class="downvote"></button>
      </form>
</div>



      <div class="col-md-4"><blockquote class="title"><%= @post.title %></blockquote></div>
</div>
<div class="row">
        <div class="col-md-2 text-right"><span class='timestamp'><%= @post.age %> hours ago</span></div>
          <div class="col-md-3 text-left">
  <p class='username'>by <a href="/users/<%=@post.user_id%>"><%= User.find(@post.user_id).username %></a></p>
  </div>

</div>
</div>

<div class="row">
  <div class="col-md-8 text-left col-md-offset-2">
  <blockquote class="small-title"><%= @post.content %></blockquote>
</div>
</div>

<% if @post.best_answer && (@post.best_answer > 0) %>
  <div class = "best_answer">
    <h2>User selected best answer</h2>
    <p><%= Reply.find(@post.best_answer).response %></p>
    <p> <%= User.find(@post.user_id).username %></p>
  </div>
<% end %>


<ul class="all-replies no-bullets">
  <% @replies.each do |reply| %>
  <% if reply.id != @post.best_answer %>

<div class="row">
  <div class="col-md-9 col-md-offset-1 text-left container-fluid boxed">
<li class="<%=reply.id%>">

<!-- upvote/downvote -->
  <div class="btn-group-vertical col-md-1 text-center" role="group">
      <form method="post" action='/replies/<%= reply.id %>/vote' class="inline upvote-posts">
        <button type="submit" name="vote" value="1" class="upvote-button"></button>
      </form>

      <form method="post" action='/replies/<%= reply.id %>/vote' class="inline downvote-posts">
        <button type="submit" name="vote" value="-1" class="downvote-button"></button>
      </form>
    </div>


<p><%= reply.response %></p>
  <% user = User.find(reply.user_id) %>
  <p>
        <span class='points'><%= reply.points%></span>
        <span class='username'><%= reply.user.username %></span>
        <span class='timestamp'><%= reply.age %> days</span>
        <% if logged_in? && current_user.id == reply.user_id %>

        <form class="delete" method="POST" action="/posts/<%= reply.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete">
        </form>
        <% end %>
      </p>
<p>by <a href="/users/<%=user.id%>"><%= user.username %></a></p>


<% if logged_in? && current_user.id == user.id %>
  <form id="edit" method="POST" action="/replies/<%= reply.id %>">
     <textarea class="form-control text-box" rows="4" cols="8" name="response" placeholder="response"><%= reply.response %></textarea>
    <div class="">
    <input type="hidden" name="_method" value="PUT">
    <input class="btn btn-info col-md-1" type="submit" value="edit reply">
  </form>
  <form class="form-inline" id="delete" method="POST" action="/replies/<%= reply.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <input class="btn btn-info" type="submit" value="delete reply">
  </form>
</div>
<% end %>
<% if logged_in? && current_user.id == @post.user_id %>
    <form id="best_answer" method="POST" action="/posts/best_answer">
    <input type="hidden" name="reply_id" value="<%= reply.id %>">
    <input type="hidden" name="post_id" value="<%= @post.id %>">
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="Best Answer">
  </form>

<% end %>
  </div>
</div>
</li>
<% end %>
<% end %>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<% if logged_in? %>
  <form id="posts" class="boxed" method="post" action="/replies/new">
    <textarea class="form-control" rows="4" cols="25" name="response" placeholder="response" style="margin-bottom:10px"></textarea>
    <input type="hidden" name="post" value="<%= @post.id %>">
    <input class="btn btn-info" type="submit" value="Post Reply">
  </form>
<% end %>
  </div>
</div>
