<header>
  <h1>Short Stack</h1>
   <p>
    <% if !logged_in? %>
      <a href="/register">sign up</a>
      <a href="/login">login</a>
    <% else %>
      <a href="/users/<%= current_user.id %>">
     User Profile</a>
     <a href="/logout">logout</a>
    <% end %>
  </p>
</header>




<h1> <%= @post.title %></h1>
<p><%= @post.content %></p>
<p><%= User.find(@post.user_id).username %></p>

<% if @post.best_answer && (@post.best_answer > 0) %>
  <h2>User selected best answer</h2>
  <p><%= Reply.find(@post.best_answer).response %></p>
  <p> <%= User.find(@post.user_id).username %></p>
<% end %>


<ul>
  <% @replies.each do |reply| %>
  <% if reply.id != @post.best_answer %>
<li>

<p><%= reply.response %></p>
  <% user = User.find(reply.user_id) %>
<p> <%= user.username %></p>

<% if logged_in? && current_user.id == user.id %>
  <form id="user-update-replies" method="POST" action="/replies/<%= reply.id %>">
     <textarea rows="4" cols="50" name="response" placeholder="response"><%= reply.response %></textarea>
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="edit reply">
  </form>
  <form id="user-delete-replies" method="POST" action="/replies/<%= reply.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete reply">
  </form>

<% end %>
<% if logged_in? && current_user.id == @post.user_id %>
    <form id="user-delete-replies" method="POST" action="/posts/best_answer">
    <input type="hidden" name="reply_id" value="<%= reply.id %>">
    <input type="hidden" name="post_id" value="<%= @post.id %>">
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="Best Answer">
  </form>

<% end %>
</li>
<% end %>
<% end %>
</ul>


<% if logged_in? %>
  <form id="posts" method="post" action="/replies/new">
    <textarea rows="4" cols="50" name="response" placeholder="response"></textarea>
    <input type="hidden" name="post" value="<%= @post.id %>">
    <input type="submit" value="Post Reply">
  </form>
<% end %>
