<div class='post-container'>




<% @posts.each do |post| %>
<div class="boxed" id="<%= post.id %>">
<article>

  <div class="btn-group-vertical col-md-1 text-center" role="group">
      <form method="post" action='/posts/<%= post.id %>/vote' class="inline upvote-posts">
        <button type="submit" name="vote" value="1" class="upvote upvote-button"></button>
      </form>
        <span class="vote-score"><%= post.points%></span>
      <form method="post" action='/posts/<%= post.id %>/vote' class="inline downvote-posts">
        <button type="submit" name="vote" value="-1" class="downvote downvote-button"></button>
      </form>
  </div>

      <h2><a class="small-title" href='/posts/<%= post.id %>'><%= post.title %></a></h2>

        <span class='username'>by <a href='/users/<%=post.user_id%>'><%= post.user.username %></a> |</span>
        <span class='timestamp'><%= post.age %> hours ago |</span>
        <span class='comment-count'><%= post.replies.count %> comments</span>
        <% if logged_in? && current_user.id == post.user_id %>

        <form class="delete" method="POST" action="/posts/<%= post.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <input class="btn btn-info" type="submit" value="delete">
        </form>
        <% end %>
      </p>
    </article>
</div>
<% end %>
</div>

<!--
<form id="posts" method="post" action="/posts">
  <input type="text" name="title" placeholder="title">
  <input type="submit">
</form>
 -->
