<div class='post-container'>
<% @posts.each do |post| %>

<article id="<%= post.id %>">
      <form method="post" action='/posts/<%= post.id %>/vote' class="inline">
        <button type="submit" name="vote" value="1" class="upvote-button"></button>
      </form>

      <form method="post" action='/posts/<%= post.id %>/vote' class="inline">
        <button type="submit" name="vote" value="-1" class="downvote-button"></button>
      </form>



      <h2><a href='/posts/<%= post.id %>'><%= post.title %></a></h2>
      <p>
        <span class='points'>??</span>
        <span class='username'><%= post.user.username %></span>
        <span class='timestamp'><%= post.created_at %> </span>
        <span class='comment-count'><%= post.replies.count %></span>
        <% if logged_in? && current_user.id == post.user_id %>

        <form class="delete" method="POST" action="/posts/<%= post.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete">
        </form>
        <% end %>
      </p>
    </article>

<% end %>
</div>

<!--
<form id="posts" method="post" action="/posts">
  <input type="text" name="title" placeholder="title">
  <input type="submit">
</form>
 -->
